<h1>New game</h1>
<ul class="d-flex ps-0">
<% @array.each do |letter| %>
  <li class="bg-primary fw-bold text-white my-1 me-1 w-5 p-3 shadow rounded">
    <%= letter.first %>
  </li>
<% end %>
</ul>

<p>What's the longest form you can find ?</p>
<form class="row" action="/score" method="POST" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="col-3 px-0">
    <input class="form-control" type="text" name="reponse">
  </div>
  <div class="col-1 px-0 play-button">
    <input class="form-control" type="submit" value="Play">
  </div>
  <input type="hidden" name="array" value=<%= @array.join%>>
</form>
